files:

  "/tmp/my.nginx.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |

      upstream nodejs {
        server 127.0.0.1:8081;
        keepalive 256;
      }

      server {
        listen 8080;

        rewrite ^/restaurants/nottingham-lenton$	/restaurants/west-midlands/nottingham/nottingham-lenton redirect;
        rewrite ^/restaurants/sheffield$	/restaurants/yorkshire-and-the-humber/sheffield/sheffield redirect;
        rewrite ^/restaurants/stoke$	/restaurants/west-midlands/stoke-on-trent/stoke redirect;
        rewrite ^/restaurants/manchester-printworks$	/restaurants/north-west/manchester/manchester-printworks redirect;
        rewrite ^/restaurants/ashton-moss$	/restaurants/yorkshire-and-the-humber/ashton-under-lyne/ashton-moss redirect;
        rewrite ^/restaurants/bolton$	/restaurants/north-west/bolton/bolton redirect;
        rewrite ^/restaurants/leeds-centre-27$	/restaurants/yorkshire-and-the-humber/leeds/leeds-centre-27 redirect;
        rewrite ^/restaurants/leicester$	/restaurants/east-midlands/leicester/leicester redirect;
        rewrite ^/restaurants/northampton$	/restaurants/east-midlands/northampton/northampton redirect;
        rewrite ^/restaurants/peterborough-hampton$	/restaurants/east-of-england/peterborough/peterborough-hampton redirect;
        rewrite ^/restaurants/rochester$	/restaurants/south-east/strood/rochester redirect;
        rewrite ^/restaurants/camberley-atrium$	/restaurants/south-east/camberley/camberley-atrium redirect;
        rewrite ^/restaurants/portsmouth-gunwharf-quay$	/restaurants/south-east/portsmouth/portsmouth-gunwharf-quay redirect;
        rewrite ^/restaurants/cribbs-causeway-venue$	/restaurants/south-west/bristol/cribbs-causeway-venue redirect;
        rewrite ^/restaurants/dudley$	/restaurants/west-midlands/dudley/dudley redirect;
        rewrite ^/restaurants/ipswich$	/restaurants/east-of-england/ipswich/ipswich redirect;
        rewrite ^/restaurants/gateshead$	/restaurants/north-east/gateshead/gateshead redirect;
        rewrite ^/restaurants/newcastle-eldon-square$	/restaurants/north-east/newcastle/newcastle-eldon-square redirect;
        rewrite ^/restaurants/cheshire-oaks$	/restaurants/north-west/ellesmere-port/cheshire-oaks redirect;
        rewrite ^/restaurants/liverpool-edge-lane$	/restaurants/north-west/liverpool/liverpool-edge-lane redirect;
        rewrite ^/restaurants/livingston$	/restaurants/scotland/livingston/livingston redirect;
        rewrite ^/restaurants/chester$	/restaurants/wales/broughton/chester redirect;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        access_log  /var/log/nginx/access.log  main;

        location /giftvouchers/ {
          proxy_pass https://chiqv.syzygydigital.co.uk/giftvouchers/;
          proxy_set_header HOST chiquito.co.uk;
        }

        location ~* /restaurants/[a-zA-Z0-9_-]*/(?:book|click-and-collect|drinks|order|pay|takeaway|menu)/?.* {
          proxy_pass http://nodejs;
          proxy_set_header Connection "";
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /restaurants/ {
          proxy_pass https://locations.chiquito.co.uk.pagescdn.com/;
          proxy_set_header HOST locations.chiquito.co.uk.pagescdn.com;
          proxy_ssl_server_name on;
          proxy_ssl_name "locations.chiquito.co.uk.pagescdn.com";
        }

        location /sucuri-d719c88c5c957ad2f20e4fe66fac5673.php  {
          proxy_pass https://chiqv.syzygydigital.co.uk/sucuri-d719c88c5c957ad2f20e4fe66fac5673.php;
          proxy_set_header HOST chiqv.syzygydigital.co.uk;
        }

        location / {
          proxy_pass              http://nodejs;
          proxy_set_header        Connection      "";
          proxy_http_version      1.1;
          proxy_set_header        Host            $host;
          proxy_set_header        X-Real-IP       $remote_addr;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        gzip on;
        gzip_comp_level 4;
        gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
      }
