@font-face {
	font-family:'alte-haas-grotesk';
	src:url('~/static/fonts/alte_haas_grotesk_regular.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'alte-haas-grotesk';
	src:url('~/static/fonts/alte_haas_grotesk_bold.woff') format('woff');
	font-weight:600;
	font-style:normal;
}

@font-face {
	font-family:'monotonia';
	src:url('~/static/fonts/monotonia.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'BurfordExtrudeC';
	src:url('~/static/fonts/BurfordExtrudeC.woff') format('woff'),
	url('~/static/fonts/BurfordExtrudeC.woff2') format('woff2'),
	url('~/static/fonts/BurfordExtrudeC.ttf') format('ttf'),
	url('~/static/fonts/BurfordExtrudeC.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'BurfordStripesA';
	src:url('~/static/fonts/BurfordStripesA.woff') format('woff'),
	url('~/static/fonts/BurfordStripesA.woff2') format('woff2'),
	url('~/static/fonts/BurfordStripesA.ttf') format('ttf'),
	url('~/static/fonts/BurfordStripesA.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'HeadlineMTStd-Bold';
	src:url('~/static/fonts/HeadlineMTStd-Bold.woff') format('woff'),
	url('~/static/fonts/HeadlineMTStd-Bold.woff2') format('woff2'),
	url('~/static/fonts/HeadlineMTStd-Bold.ttf') format('ttf'),
	url('~/static/fonts/HeadlineMTStd-Bold.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'HelloSidney';
	src:url('~/static/fonts/HelloSidney.woff') format('woff'),
	url('~/static/fonts/HelloSidney.woff2') format('woff2'),
	url('~/static/fonts/HelloSidney.ttf') format('ttf'),
	url('~/static/fonts/HelloSidney.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'NeueHaasGroteskTextPro55Roman';
	src:url('~/static/fonts/NeueHaasGroteskTextPro55Roman.woff') format('woff'),
	url('~/static/fonts/NeueHaasGroteskTextPro55Roman.woff2') format('woff2'),
	url('~/static/fonts/NeueHaasGroteskTextPro55Roman.ttf') format('ttf'),
	url('~/static/fonts/NeueHaasGroteskTextPro55Roman.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'NeueHaasGroteskTextPro75Bold';
	src:url('~/static/fonts/NeueHaasGroteskTextPro75Bold.woff') format('woff'),
	url('~/static/fonts/NeueHaasGroteskTextPro75Bold.woff2') format('woff2'),
	url('~/static/fonts/NeueHaasGroteskTextPro75Bold.ttf') format('ttf'),
	url('~/static/fonts/NeueHaasGroteskTextPro75Bold.eot') format('eot');
	font-weight:normal;
	font-style:normal;
}
