$black: #191919;
$booger-green: #a3bb3a;
$brownish-orange: #c9641a;
$grey: #9b9b9b;
$light-green: #d1d9ac;
$light-grey: #ede6e1;
$moss-green: #669532;
$scarlet: #cc1013;
$squash: #f5a61d;
$teal-blue: #00a6ad;
$white: #fff;
$white-two: #f6f6f6;
$white-three: #efeeee;
$very-light-pink: #f3f3f3;
$true-white: #ffffff;
$true-black: #000;
$pinkish-red: #eb1c21;
$jungle-green: #008257;
$greyish-brown: #3c3c3c;
$mac-and-cheese: #fdc533;
$brown-grey: #b2b2b2;
$light-mustard: #ffd15c;
$sky-blue: #20b8d1;
$pale-sky-blue: #c3ecf3;
$pink: #f3b2bc;
$light-beige: #f3f3c3;
$light-pink: #fae0e5;
$sickly-yellow: #cdd937;
$pale-red: #ec5540;
$sky-blue-10: #0ea2bf1A;
$white-ice: #e8f8fb;
$peacock-blue: #0068a3;
$orange: #ee7420;

$font: 'NeueHaasGroteskTextPro55Roman', 'Roboto', 'Helvetica Neue', Helvetica,
  'Fira Sans', 'Droid Sans', sans-serif !default;
$heading-font: 'BurfordExtrudeC', $font;
$secondary-body-font: 'HeadlineMTStd-Bold', $font;
$display-font: 'HelloSidney', 'BurfordExtrudeC', 'NeueHaasGroteskTextPro55Roman', 'Roboto',
  'Helvetica Neue', Helvetica, 'Fira Sans', 'Droid Sans', sans-serif !default;
$secondary-display-font: 'BurfordStripesA', $display-font;
$drawer-navigation-font: 'NeueHaasGroteskTextPro75Bold', $font;
$navigation-font: 'NeueHaasGroteskTextPro75Bold', $font;
$card-heading-font: 'NeueHaasGroteskTextPro75Bold', $font;
$card-display-font: 'BurfordExtrudeC', $secondary-display-font;

$card-height-desktop: 300px;
$bookings-mobile: 328px;
$promo-card-breakpoint: 600px;
$generic-card-breakpoint: 600px;

$rebrand-teal: #20b8d1;
$rebrand-teal-alpha: #20b8d11a;
$rebrand-orange: #ff6b00;
$rebrand-blue: #0067a3;
$rebrand-blue-light: #0097ef;
$rebrand-yellow: #ffc600;
$rebrand-green-dark: #81890f;
$rebrand-green: #cad500;
$rebrand-green-light: #f4ff65;
$rebrand-green-two: #009e3c;
$rebrand-pink: #f5c2cb;
$rebrand-very-light-pink: #f2f2f2;
$rebrand-red: #e9483e;

$red-xmas: #e53f36;
$green-xmas: #00ac4e;
$charcoal: #414042;
$pastel-pink: #f5c1c9;

$header-nav-height-mobile: 64px;
$header-nav-height-desktop: 72px;
$bottom-nav-height-mobile: 67px;

$max-width-mobile: 960px;
$max-width-tablet: 95%;
$max-width-mdesktop: 90%;
$max-width-desktop: 1280px;
