<!DOCTYPE html>
<html>
<head>
	<title>Booking Widget</title>
</head>
<body>

	<div id="widget-container">
		<script type="text/javascript" src="https://bda.bookatable.com/deploy/lbui.direct.min.js"></script>
		<script type="text/javascript">
		  LBDirect_Embed({
		     connectionid  	:  "UK-RES-FRANKIEANDBENNYSGROUP:69075",
		     restaurantid	:  "<%= restId %>"
		    });
		</script>
	</div>

</body>
</html>